.rules-title {
    background-color:rgb(165,132,73);
    margin:20px;
    border:1px solid rgb(92,29,25);
    color:rgb(92,29,25);
    height:60px;
    font-size:32px;
    padding:7px;
    font-weight:700;
    font-family: 'Cinzel', sans-serif;
}

.rules {
    color:rgb(107,50,46);
    margin-top:20px;
    margin-right:45px;
    margin-left:20px;
}

@media (max-width: 686px){
    .rules-title {
        font-size:4vw;
        height:11vw;
    }
}

.spacer {
    height:10px;
}

.bold {
    font-weight:bold;
    display:inline-block;
}

.example {
    width:100vw;
}

.sub-nav {
    font-family: 'Cinzel', serif;
}


@media (max-width: 484px){
    .sub-item {
        font-size:2.75vw;
    }
}