<app-nav></app-nav>


<div class="sub-nav">
  <div class="sub-item">
    <a routerLink="/">
        College Basketball Challenge
      </a>
  </div>
  <div class="sub-item">
    <a href="https://reddit.com/r/cockydoodle">
        Discussion
      </a>
  </div>
  <div class="sub-item active">
    <a routerLink="/rules">
        Rules
      </a>
  </div>
</div>

<div class="rules-title">
  Summarized Rules of the Challenge
</div>

<ol class="rules">
  <li>The official rules can be found <a style="text-decoration:underline; color:inherit;" href="full-rules" target="_blank">here</a>.</li>
  <li>This Challenge is free to play, but ALL Participants must be 18+ Years of Age</li>
  <div class="spacer"></div>
  <li>
    Every Participant will start with exactly 100 tokens, and the three (3) players with the most tokens at the conclusion of
    the Championship Game (April 2, 2018) will win 1st, 2nd, & 3rd Prize respectively.
    <ul>
      <li>1st Prize = $100</li>
      <li>2nd Prize = $50</li>
      <li>3rd Prize = $25</li>
    </ul>
  </li>

  <li>
    There are two(2) ways to earn tokens.
    <ul>
      <li>Wagering tokens on an accurate prediction</li>
      <li>New User Referrals (20 Tokens for every new user that participates, No Maximum number of Referrals)</li>
    </ul>
  </li>

  <li>
    <div class="bold">How Wagering Works</div> – You will see a matchup this looks similar to the one below. You will notice the popularity bar – That
    will identify how many users have made a selection. The longer the bar the more users selecting that game. You will also
    see the 40.0% and 60.0% - those show where the tokens are at that moment in time. Lets say you decided to wager 50 tokens
    on the Away team. Those 50 tokens get added to the Away Team Pot which equals 200 tokens. This means your action is 25%
    (50/200) of the Away Tokens. Because the Away Team is 40% of the TOTAL Tokens wagered on the matchup, the Home Team Pot
    is 300 Tokens. If the Away team wins, you would win 25% of the 300 tokens plus your original 50 equaling 125 Tokens.
  </li>
</ol>

<img class="example" src="../assets/example.png">


<app-account *ngIf="home.showAccount"></app-account>