<app-nav></app-nav>
<div class="sub-nav">
    <div class="sub-item">
        <a routerLink="/">
            March Madness Challenge
        </a>
    </div>
    <div class="sub-item">
        <a href="https://reddit.com/r/cockydoodle">
            Discussion
        </a>
    </div>
    <div class="sub-item">
        <a routerLink="/rules">
            Rules
        </a>
    </div>
    <div class="sub-item active">
        <a routerLink="/leaderboard">
            Leaderboard
        </a>
    </div>
    <div class="sub-item">
        <a routerLink="/mybets">
            My Bets
        </a>
    </div>
</div>
<div class="leaderboard" *ngIf="!isLoading">
    <div class="leaderboard-head">Overall Leaderboard</div>
    <div class="leaderboard-title">Player</div>
    <div class="leaderboard-title">Tokens</div>

    <div *ngFor="let user of leaderboard" class="leaderboard-item">
        <div class="leaderboard-detail">{{user.username}}</div>
        <div class="leaderboard-detail">{{user.wallet}}</div>
    </div>



</div>

<app-account *ngIf="home.showAccount"></app-account>