.leaderboard-title {
    display:inline-block;
    font-weight:bold;
    color:rgb(92,29,25);
    margin:auto;
    width:95px;
    text-align:center;
    padding-top:5px;
}

.leaderboard {
    border:2px solid rgb(92,29,25);
    width:200px;
    float:left;
    margin:20px;
}

.leaderboard-head {
    color:white;
    background-color:rgb(92,29,25);
    font-family: 'Cinzel', sans-serif;
}

.leaderboard-item {
    display:inline-block;
}

.leaderboard-detail {
    display:inline-block;
    padding-left:10px;
    width:90px;
    text-align:center;
    padding-top:5px;
}