.leaderboard-title {
    display:inline-block;
    font-weight:bold;
    color:rgb(92,29,25);
    margin:auto;
    width:145px;
    text-align:center;
    padding-top:5px;
}

.leaderboard {
    border:2px solid rgb(92,29,25);
    width:300px;
    margin:auto;    
    margin-top:30px;
}

.leaderboard-head {
    color:white;
    text-align:center;
    background-color:rgb(92,29,25);
    font-family: 'Cinzel', sans-serif;
}

.leaderboard-item {
    display:inline-block;
}

.leaderboard-detail {
    display:inline-block;
    padding-left:10px;
    width:145px;
    text-align:center;
    padding-top:5px;
}

.sub-nav {
    font-family: 'Cinzel', serif;
}