.card {
    background-color:rgb(98,28,24);
    color:white;
    margin-bottom:20px;
}

.btn-primary.disabled, .btn-primary:disabled {
    color: #fff;
    background-color: rgb(165,132,73);
    border-color: rgb(165,132,73);
}

.btn-primary.enabled, .btn-primary:enabled {
    color: #fff;
    background-color: rgb(175,152,73);
    border-color: rgb(175,152,73);
}


.error-message {
    display:block;
    margin-top:-15px;
    font-size:10px;
}