<app-toast [message]="toast.message"></app-toast>

<div class="card">
  <h4 class="card-header">Register</h4>
  <div class="card-body">
    <form [formGroup]="registerForm" (ngSubmit)="register()">
      <div class="input-group" [ngClass]="setClassUsername()">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="fa fa-user"></i></span>
        </div>
        <input class="form-control" type="text" name="username" formControlName="username" placeholder="Username" autofocus>
      </div>

      <div class="input-group" [ngClass]="setClassName()">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="fa fa-user"></i></span>
        </div>
        <input class="form-control" type="text" name="name" formControlName="name" placeholder="Name">
      </div>

      <div class="input-group" [ngClass]="setClassEmail()">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="fa fa-envelope"></i></span>
        </div>
        <input class="form-control" type="email" name="email" formControlName="email" placeholder="Email">
      </div>

      <div class="input-group" [ngClass]="setClassCountry()">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="fa fa-globe"></i></span>
        </div>
        <input class="form-control" type="text" name="country" formControlName="country" placeholder="Country">
      </div>

      <div class="input-group" [ngClass]="setClassPassword()">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="fa fa-key"></i></span>
        </div>
        <input class="form-control" type="password" name="password" formControlName="password" placeholder="Password">
      </div>

      <div class="input-group" [ngClass]="setClassReferralEmail()">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="fa fa-envelope"></i></span>
        </div>
        <input class="form-control" type="email" name="referralEmail" formControlName="referralEmail" placeholder="Optional - Who referred you? (email)">
      </div>
      By clicking Sign-up you verify that you are 18+ years of age
      and agree to the <a style="text-decoration:underline; color:inherit;" href="full-rules" target="_blank">rules</a>, terms & conditions of CockyDoodle.com 
      <br>
      <button class="btn btn-primary" type="submit" [disabled]="!registerForm.valid || referNotEqualToEmail()"><i class="fa fa-user-plus"></i> Sign-Up</button>
    </form>
    Already have an account? <p class="underline" (click)="goToLogin()">Login Here</p>.
  </div>
</div>