<start *ngIf="!auth.loggedIn"></start>
<div *ngIf="auth.loggedIn">
  <app-nav></app-nav>
  <div class="sub-nav">
    <div class="sub-item active">
      College Basketball Challenge
    </div>
    <div class="sub-item">
      <a href="https://reddit.com/r/cockydoodle">
        Discussion
      </a>
    </div>
    <div class="sub-item">
      <a routerLink="/rules">
        Rules
      </a>
    </div>
  </div>
  <div class="coming-soon">
    <div class="soon-text">
      <h3>{{message}}</h3>
      <h4>Check back after the bracket is unveiled. First game is Tuesday March 13</h4>
    </div>
    <img src="../assets/comingsoon.png">
  </div>
</div>

<app-account *ngIf="showAccount"></app-account>


