<start *ngIf="!auth.loggedIn"></start>
<div *ngIf="auth.loggedIn">
  <app-nav></app-nav>
  <div class="sub-nav">
    <div class="sub-item active">
      College Basketball Challenge
    </div>
    <div class="sub-item">
      <a href="https://reddit.com/r/cockydoodle">
        Discussion
      </a>
    </div>
    <div class="sub-item">
      <a routerLink="/rules">
        Rules
      </a>
    </div>
  </div>
  <div class="day-title">
    March 11, 2018 – College Basketball Challenge Day 0
  </div>
  <app-bet></app-bet>
  <app-leaderboard></app-leaderboard>
</div>

<app-account *ngIf="showAccount"></app-account>