.card-holder {
    text-align:center;
    width:100%;
}

.blue-beauty {
    background-color:rgb(92,29,25);
}

.nav-linkz img {
    height:55px;
    cursor:pointer;
}

.nav-linkz {
    cursor:pointer;
}

.logo {
    display:inline-block;
    margin-top:5px;
}

.right-align {
    text-align:right;
    width:75%;
    line-height:45px;
}
.nav-item {
    float:right;
}

@media (min-width: 992px) {
    navbar {
        padding:10px !important;
    }
}

.hunnid {
    width:100%;
}

.mr-auto {
    width:100%;
}

.welcome {
    color:white;
    font-size:24px;
    font-weight:bold;
    text-align:center;
}

.account-detail {
    float:right;
    cursor:pointer;
    line-height:45px;
}

.below {
    display:block;
    color:rgb(165,132,73) !important;
    line-height:0px;
    height:20px;
    text-align:center;
    font-weight:bold;
}

.sub-nav {
    text-align:left;
    background-color:rgb(165,132,73);
    margin-top:5px;
    padding:2px;
}

.sub-item {
    display:inline-block;
    color:rgb(231,230,230);
    padding-left:5vw;
    cursor:pointer;
}

.sub-item a {
    text-decoration:none;
    color:inherit;
}

.active {
    cursor:auto;
    color:rgb(92,29,25) !important;
}


.image_full{
   display:block;
  }

 .image_mobile{
  display:none;
 }

@media (max-width: 650px){
  .image_full{
   display:none;
  }

  .image_mobile{
   display:block;
  }
}

.coming-soon {
    width:100%;
    overflow:hidden;
}

.coming-soon img {
    height:100vh;
    
    filter: blur(7px);
}

.soon-text {
    color:black;
    font-size:30px;
    font-weight:bold;
    position:absolute;
    z-index:100;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.sub-nav {
    font-family: 'Cinzel', serif;
}

@media (max-width: 484px){
    .sub-item {
        font-size:2.75vw;
    }
}