<app-nav></app-nav>
<div class="sub-nav">
  <div class="sub-item">
    <a routerLink="/">
      March Madness Challenge
    </a>
  </div>
  <div class="sub-item">
    <a href="https://reddit.com/r/cockydoodle">
      Discussion
    </a>
  </div>
  <div class="sub-item">
    <a routerLink="/rules">
      Rules
    </a>
  </div>
  <div class="sub-item">
    <a routerLink="/leaderboard">
      Leaderboard
    </a>
  </div>
  <div class="sub-item active">
    <a routerLink="/mybets">
      My Bets
    </a>
  </div>
</div>
<div class="my-bets" *ngIf="!isLoading">
  <div class="leaderboard" *ngIf="!isLoading">
    <div class="leaderboard-head">My Bets</div>

    <div *ngFor="let bet of myBets" class="bet-item">
      <div class="bet-item-team">{{bet.homeTeam}} vs {{bet.awayTeam}}</div>
      <div class="bet-info">
        <div class="score-box">
          <div *ngIf="bet.homeScore != 0 && bet.awayScore != 0" class="score">
            {{bet.homeScore}} to
          </div>
          <div *ngIf="bet.homeScore != 0 && bet.awayScore != 0" class="score">
            {{bet.awayScore}}
          </div>
          <div *ngIf="bet.homeScore == 0 && bet.awayScore == 0" class="score">
            -- to
          </div>
          <div *ngIf="bet.homeScore == 0 && bet.awayScore == 0" class="score">
            --
          </div>
        </div>
        <div class="bet-box">
          <div *ngIf="bet.homeTotal != 0" class="score">
            {{bet.homeTotal}} on {{substr(bet.homeTeam)}}
          </div>
          <div *ngIf="bet.awayTotal != 0" class="score">
            {{bet.awayTotal}} on {{substr(bet.awayTeam)}}
          </div>
        </div>
        <div class="bet-box2">
          <div *ngIf="bet.status" class="score">
            In Progress
          </div>
          <div *ngIf="bet.win == 1 && !bet.status" class="score">
            Won {{bet.payout}}
          </div>
          <div *ngIf="bet.win == 0 && !bet.status" class="score">
            Lost
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<app-account *ngIf="home.showAccount"></app-account>