
<div *ngIf="!isLoading" class="card account-card">
  <h4 class="card-header special-white">
    Account
    <div (click)="home.toggleAccount()" class="x-btn">
      <i class="fa fa-times"></i>
    </div>
  </h4>
  <div class="card-body">
    <i class="fa fa-user"></i> {{user.username}}<br>
    <i class="fa fa-envelope"></i> {{user.email}}<br>

    <div class="record">
      <div class="record-title">
        Wins
        <div class="record-count">
          {{user.winCount}}
        </div>
      </div>
      <div class="record-title">
        Losses
        <div class="record-count">
          {{user.lossCount}}
        </div>
      </div>
      <div class="record-title">
        Win %
        <div class="record-count">
          {{winPct()}}
        </div>
      </div>
    </div>
    <br>
    <br>
    <div class="sub-item">
      <a routerLink="/logout">
          <i class="fa fa-sign-out"></i>
          Logout
        </a>
    </div>
  </div>
</div>